<div class="timesheet-header">
  <button mat-icon-button (click)="changeMonth(-1)">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <span class="month-title">{{ currentMonth | date:'MMMM yyyy' }}</span>
  <button mat-icon-button (click)="changeMonth(1)">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>

<table class="timesheet-table mat-elevation-z2">
  <thead>
    <tr>
      <th *ngFor="let day of weekDays">{{ day }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let week of weeks">
      <td *ngFor="let day of week"
        [ngClass]="{'weekend': day.isWeekend || day.isHoliday, 'disabled': day.disabled, 'today': day.date === todayStr}">
        <div class="day-header">{{ day.dayName }} {{ day.dayNumber }}</div>
        <mat-form-field appearance="outline" class="hours-input">
          <input matInput type="number" [(ngModel)]="day.hours" (blur)="updateHours(day)" min="0" max="24"
            [disabled]="day.disabled">
        </mat-form-field>
      </td>
    </tr>
  </tbody>
</table>